@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body , html , * {
    margin: 0px;
    padding: 0px;
    border : 0px ; 
    font-family: 'Oswald', sans-serif;

}


.app-mobile {
  display: none;
}











/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    border-top: 20px solid #00ff7f; 
    border-radius: 20px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }




















.header {
    overflow: hidden;
    position: fixed;
    top : 0px ;
    background-color: white;
    width: 100vw;
    z-index: 999999;
    box-shadow: 0 10px 20px -5px rgba(61, 61, 61, 0.179);
    display: flex;
    font-family: 'Roboto' , sans-serif;
  }
  
  .header a {
    float: left;
    color: rgb(58, 58, 58);
    text-align: center;
    padding-right: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    font-weight: bolder;
  }
  


  .header a.logo {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .header a:hover {
    color: rgb(245, 32, 245);
  }
  
  
  .header-right {
    float: right;
    width: 80%;
  }
  .header-right> a {
     width: 25%;
     position: relative;
     top :50% ;
     transform: translate(0px , -50%);
  }

  .header-menu-icon {
    display: none;
  }





  @media screen and (max-width: 700px) {
    .header {
      background-color: white;
    }
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-page > .header-right {
      display: block ;
      position: relative;
      top : 50% ; 
      left : 50% ; 
      transform: translate(-50% , -50%);
      background-color: rgb(55, 247, 157);
      height: 100%;
      width: 100%;
    }
    .header-page > .header-right > a {
      width: 100%;
      text-align: center;
      font-size: 22px;
      margin: 40px 0px ;
      transform: translateY(-200px);
      color: white;

    }
    .header-right {
      display: none;
    }
    .header-menu-icon {
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 30px;
      top : 25% ; 
    }
    .top_header_bottom_left_container > p {
      width: 100vw !important;
      color: white !important;
      padding: 0px !important;
      margin: 0px;
      text-align: center;
    }
  }


.header-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: white;
  z-index: -1;
  display: none;
}















*::-webkit-scrollbar {
    display: none;
}
.app {
    background-color: white;
}

.top_header {
    width: 100vw;
    height: 80vh;
    background-image: url(..//assets/africa-man.jpg ) ;
    background-position: center;
    background-size: cover;
    background-color: white;
    background-attachment: fixed;
}
.top_header_insider {
    width: 100%;
    height: 100%;
    background : linear-gradient(90deg , rgba(248, 25, 248, 0.775) ,rgba(20, 241, 175, 0.809) );
}
.top_header_left {
    width: 50vw;
    text-align: center;

}
.top_header_right {
    width: 50vw;
}
.top_header_bottom {
    width: 100%;
    display: flex;
    height:90%;
}
.top_header_top {
    text-align: center;
    height: 20%;
}
.top_header_bottom_left {
  width: 70%;
}
.top_header_bottom_left_container > h1 {
  color: #10fa66 !important ;
  text-align: center;
}
.top_header_bottom_left_container > .comming {
    color : rgb(255, 255, 255) !important ; 
    font-family: 'Bebas Neue', cursive;
    position: relative;
    top : 50% ;
    transform: translate(0% , -50%);
    letter-spacing: 5px;
    font-size: 70px ;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.todonate {
  margin: 0 auto;
  padding: 12px;
  border-radius: 15px;
  background-color: #13d454;
  margin-top: 100px;
  color: white;
  cursor: pointer ;
  text-decoration: none;
}
.todonate:hover {

  background-color: #f328cb;
 
}
.form-separator {
  height: 2px ;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.556);
  margin-bottom: 20px;
  border-radius: 3px;
}
.bottom_header {
    width: 100vw;
    display: flex;
    background-color: white;
}




.top_header_bottom_left {
    width: 65%;
    height: 100%;
}
.top_header_bottom_right {
    width:35%;
    height: 100%;
}

.top_header_bottom_right > svg {
    position: relative;
    top : 80% ; 
    transform: translate(0%  , -60%);
    width: 80%;
    height: 80%;
}



.top_header_bottom_left_container {
    width: 100%;
    height: auto;
    position: relative;
    top : 40% ;
    transform: translate(0% , -50%);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Source+Sans+Pro:ital@1&display=swap');
.top_header_bottom_left_container > p {
    color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: bolder;
    padding: 0px !important;
  }

  @media only screen and (max-width: 1100px) {

    .top_header_bottom_left_container > h1 {
      color: rgb(255, 255, 255);
      width: 100%;
      text-align: center;

  }
  @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Source+Sans+Pro:ital@1&display=swap');
  .top_header_bottom_left_container > p {
      color: rgb(255, 255, 255);
      position: relative;
      width: 100%;
      text-align: center;
      font-size: 20px;
      font-family: 'Source Sans Pro', sans-serif !important;
      font-weight: bolder;
    }


    .top_header_bottom_left_container > .comming {
      color : rgb(255, 255, 255) !important ; 
      font-family: 'Bebas Neue', cursive;
      position: relative;
      top : 50% ;
      transform: translate(0% , -50%);
      letter-spacing: 5px;
      font-size: 50px ;
      margin: 0px;
      padding: 0px;
  }


  }



@import url(https://fonts.googleapis.com/css?family=Roboto:300);
header .header{
  background-color: none;
  height: 45px;
}
#guest2 {
    color: #00ff7f ;
    font-size: large;
    font-weight: bolder;
}
#guest {
    color: rgb(252, 16, 205)  ;
    font-size: large;
    font-weight: bolder;
}
header a img{
  width: 134px;
margin-top: 4px;
color: wheat;
}
.login-page {
  width: 500px;
  max-width: 100vw;
  padding: 8% 0 0;
  margin: auto;
  margin-top: -80px;
  height: auto;
  position: relative;
  left: 60%;
  transform: translate(-50% , 0%);
}

.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: white  ;
  max-width: 360px;
  margin: 0 auto 0px;
  padding: 45px;
  text-align: center;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
  border-radius: 20px;
  top : -50px ;
  box-shadow: 0 10px 20px -5px rgba(61, 61, 61, 0.179);

}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 0px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .message {
  margin: 15px 0 0;
  color: #000000;
  font-size: 12px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



.input_email_submit {
    display: flex;
    width: auto;
    background: #f2f2f2;
    border-bottom-right-radius: 20px ;
    border-top-right-radius: 20px;
}

.rella {
    animation: moving 3s ease-in-out infinite;

}

@keyframes moving {
    0% {
        margin-top: -20px;
    }
    50% {
        margin-top: 0px;

    }
    100% {
        margin-top: -20px;

    }
}















  
  .switch-button {
    background: rgba(209, 209, 209, 0.56) ;
    border-radius: 30px;
    overflow: hidden;
    width: 80px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    color: #ffffff;
    position: relative;
    padding-right: 120px;
    position: relative;
    margin: 0 auto ;
  }
  .switch-button:before {
    content: "Shopper";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }
  .switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
  .switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(120px);
    transition: transform 300ms linear;
  }
  .switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 15px 0;
    display: block;
    user-select: none;
    pointer-events: none;
  }
  .switch-button-checkbox + .switch-button-label:before {
    content: "";
    background: rgb(252, 21, 225);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
  }
  .switch-button-checkbox + .switch-button-label .switch-button-label-span {
    position: relative;
  }











  .switch-button-checkbox-after {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
  .switch-button-checkbox-after:checked + .switch-button-label-after:before {
    transform: translateX(120px);
    transition: transform 300ms linear;
  }
  .switch-button-checkbox-after + .switch-button-label-after {
    position: relative;
    padding: 15px 0;
    display: block;
    user-select: none;
    pointer-events: none;
  }
  .switch-button-checkbox-after + .switch-button-label-after:before {
    content: "";
    background: #00ff7f;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
  }
  .switch-button-checkbox-after + .switch-button-label-after .switch-button-label-span {
    position: relative;
  }
























#submit {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-image: linear-gradient(45deg,#dc1ff5,#f520a7);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 20px;
  }


  #submit2 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #00ff7f;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 20px;
  }

  .top_header_bottom_left_container > p {
    font : 20px/1.6 Helvetica Neue,Helvetica,Arial,sans-serif
  }




.copyright {
  width: 100vw;
  height: auto;
  position: relative;
  top: 100% !important;
  background-color: whitesmoke;
  padding-top: 5px;
  padding-bottom: 5px;
}
.copyright > snap {
padding-left: 20px;
font : 15px/1.6 Helvetica Neue,Helvetica,Arial,sans-serif;
color : rgb(136, 136, 136) ;


}
















@media only screen and (max-width: 930px) { 
  /* Modal Content/Box */
  .modal-content {
    border-top: 20px solid #00ff7f; 
    border-radius: 20px;
    background-color: #fefefe;
    margin: 0 auto; /* 15% from the top and centered */
    padding: 20px;
    position: relative;
    top : 50% ; 
    transform: translate(0% , -50%);
    width: 80%; /* Could be more or less, depending on screen size */
  }


html {
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scroll-snap-type: mandatory;
}

.app {
  display: none;
}

.app-mobile {
  display: block;
  width: 100vw;
  height: auto;
}


.join-now {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-image: linear-gradient(0deg,#328f8a,#08ac4b);
  width: auto ;
  height: auto;
  padding: 13px;
  z-index: 9999999;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bolder;
  border: 2px solid white;
  text-align: center;
  box-shadow: 0 10px 20px -5px rgba(61, 61, 61, 0.179);
  user-select: none;
}

.header-section {
  height: 70vh;
  width: 100vw;
  background-image: url(..//assets/africa-man.jpg ) !important ;
  background-size: cover;
  background-clip: border-box;
  background-attachment: fixed;
  background-position: center;
}
.header-section-insider {
  width: 100vw;
  height: auto ;
  position: relative;
  top: 50%;
  left : 50% ; 
  transform: translate(-50% , -50%);
  text-align: center;
  background : linear-gradient(0deg , rgba(248, 25, 248, 0.104)rgba(27, 255, 141, 0.159) );
}

.header-section-insider-title {
  width: 100%;
  font-size: 60px;
  font-weight: bolder;
  color: #ffffff;
  text-align: center;
}
.header-section-insider-subtitle {
  width: 100%;
  color: #08ac4b;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
}
.header-section-insider-para {
  width: 90%;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

.phone-section {
  width: 100%;
  height: 50vh;
  position: relative;
}

.phone-section  > svg{
  height: 80%;
  position: relative;
  top: 50% ; 
  left  : 50% ; 
  transform: translate(-50%  , -50%);
  animation: move-away infinite 3s  ;
}


@keyframes move-away {
  0% {
 
    position: relative;
    top: 50% ; 
    left  : 50% ; 
    transform: translate(-55%  , -50%);
  }
  50% {
  
    position: relative;
    top: 50% ; 
    left  : 50% ; 
    transform: translate(-45%  , -50%);
  }
  100% {
    position: relative;
    top: 50% ; 
    left  : 50% ; 
    transform: translate(-55%  , -50%);
  }
}

.form-section {
  width: 100vw;
  height: auto;
  background: white;
  overflow: hidden;
  padding-top : 0px ;
  padding-bottom : 0px ;
  padding-left: 0px;
}
.login-page {
  width: 100vw;
  max-width: 100vw;
  padding: 8% 0 0;
  height: auto;
  position: relative;
  left: 50%;
  transform: translate(-50% , 0%);
  margin: 0px;
  padding-bottom: 0px;
}


.form {
  position: relative;
  z-index: 1;
  background: white  ;
  max-width: 360px;  
  padding: 45px;
  text-align: center;
  border-radius: 0px;
  top : -50px ;
  box-shadow: 0 10px 20px -5px rgba(61, 61, 61, 0.179);
  margin-top: 50px;
  margin-bottom: 0px;
}

}

